@charset "UTF-8"; 

/*
Author: Hannah Lever
Date: 18 February 2025
*/

#resume {
    display: grid;
    column-gap: 2%;
    row-gap: 25px;
    
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;

    div {
        margin: 5px;
    }
}

#resume > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) { /* mobile */
    
}

@media only screen and (min-width: 600px) { /* tablet */ 
    #resume {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

@media only screen and (min-width: 768px) { /* desktop */
    #resume {
        grid-template-columns: 2fr 3fr;
    }
}